body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: lightcyan;
}

p {
    margin-bottom: 3rem;;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
}

.section-center {
    width: 90vw;
    margin: 50px auto 0;
    max-width: 620px;
}

.question {
    background-color: #E6CBA8;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 1.5rem 1.5rem 0.1rem 1.5rem;
    /*width: 75%;*/
}

.question--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question--title p {
    color: red;
}

.question-btn {
    font-size: 2rem;
    background: transparent;
    background-color: transparent;
    cursor: pointer;
    color: yellowgreen;
    margin-bottom: 1rem;
    outline: 0 !important;
}

.question--text {
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid gray;
    display: none;
}

.minus--icon {
    display: none;
}

.show-text.question--text {
    display: block;
}

.show-text.minus--icon {
    display: inline;
}

.show-text.plus--icon {
    display: none  ;
}

